<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='comunidade.component.css'>
</head>

<body>
    <h2>Sobre o Projeto </h2>
    <p>Bem-vindo! Esse é o repositório oficial do projeto final das disciplinas de PPI e PDS. Nele, podem ser
        encontrados, no momento, os arquivos do do Angular e arquivos de teste para estilização das páginas. </p>
    <p>No momento o site está hospedado no domínio da Netlify, em:
        [https://csbrasil.netlify.app/](https://csbrasil.netlify.app/), e está recebendo as devidas atualizações ao
        decorrer do projeto. O site está subdivido em quatro partes principais: o
        **[Home](https://csbrasil.netlify.app/)**, a aba do **[Competitivo](https://csbrasil.netlify.app/competitivo)**,
        a aba de **[Estatísticas](https://csbrasil.netlify.app/estatisticas)** e, por fim, a aba de
        **[Comunidade](https://csbrasil.netlify.app/comunidade)**.</p>
</body>

</html>