<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='comunidade.component.css'>
</head>

<body>
    <h3>Sobre o Projeto </h3>
    <p>Olá, e bem-vindo! Essa é a página dedicada ao projeto final da discplina de Programação Para Internet e Projeto
        de
        Desenvolvimento de Software. Nela, também abrigará um fórum no futuro, quando os recursos para tal forem
        implementados.</p>

    <h4>Mas... Como surgiu o CSBrasil?</h4>


    <p>O CSBrasil surgiu como projeto final das disciplinas de Programação Para Internet (PPI),
        ministrada por Bruno
        Gurgel, e Projeto de
        Desenvolvimento de Software (PDS), ministrada por Álvaro Hermano, ambas do componente curricular do curso
        integrado em Informática, no <a href="https://portal.ifrn.edu.br/">Instituto Federal do Rio Grande do Norte</a>.
        Fora proposto ao discente a criação de
        uma
        aplicação que englobasse grande
        parte dos conteúdo estudados em sala de aula: o desenvolvimento web de aplicações através do framework Angular,
        na disciplina de PPI; e a documentação da aplicação, com foco nos requisitos e diagramas do mesmo, na disciplina
        de de PDS.</p>

    <img style="float: right; width: 350px; height: 350px" src="../../assets/img/ifrn-logo.png">

    <p>Visando um âmbito de maior conforto para com o discente, o tema escolhido para a aplicação se baseou na
        comunidade de Counter-Strike: Global Offensive (CS:GO) brasileira, uma das maiores comunidades de jogos do
        Brasil. Para demonstrar tamanha abrangência, <a href="https://blog.leetify.com/state-of-csgo-july-2022/">uma
            pesquisa realizada pelo site Leetiffy</a> relatou que, no último
        mês de julho (07/2022), havia por volta de 14 milhões de jogadores ativos no CS:GO, sendo 5,43% destes apenas da
        comunidade brasileira do jogo.</p>

    <p>A problemática encontrada envolvendo o tema envolve a própria comunidade, a qual, muitas vezes, carece de
        recursos para maior integração de seus jogadores comuns ao cenário competitivo do jogo. Por esse motivo, os
        requisitos funcionais do projeto visavam promover a devida experiência aos usuários e solucionar a problemática
        encontrada, que, de modo mais detalhado, se desenvolveu na falta de uma plataforma informacional sobre o cenário
        competitivo de CS:GO brasileiro, bem como a indisponibilidade de uma aplicação que mostrasse as estatísticas
        pessoais dos jogadores do game.</p>

    <p>De modo sucinto, a aplicação promove um ambiente que expõe estatísticas e notícias sobre o cenário competitivo do
        jogo - com foco no âmbito brasileiro -, como também fornece uma página dedicada para consulta e exibição de
        estatísticas de jogadores comuns - jogadores casuais e não necessariamente competitivos -, tornando escolha do
        usuário apenas exibi-las ou, de fato, compará-las com outro jogador. O próximo tópico, de descrição da
        aplicação, abordará um pouco mais sobre a aplicação e seus objetivos, bem como um breve retrospecto sobre as
        fundamentações técnicas utilizadas no projeto. </p>

    <p>No momento o site está hospedado no domínio da Netlify, em:
        [https://csbrasil.netlify.app/](https://csbrasil.netlify.app/), e está recebendo as devidas atualizações ao
        decorrer do projeto. O site está subdivido em quatro partes principais: o
        **[Home](https://csbrasil.netlify.app/)**, a aba do **[Competitivo](https://csbrasil.netlify.app/competitivo)**,
        a aba de **[Estatísticas](https://csbrasil.netlify.app/estatisticas)** e, por fim, a aba de
        **[Comunidade](https://csbrasil.netlify.app/comunidade)**.</p>

    <div id="imagens-compo">
        <div id="div-esquerda">
            <img id="img-esquerda" src="../../assets/img/discentes-e-docentes/alvaro.png">
        </div>
        <div id="div-meio">
            <img id="img-meio" src="../../assets/img/discentes-e-docentes/natham.png">
        </div>
        <div id="div-direita">
            <img id="img-direito" src="../../assets/img/discentes-e-docentes/bruno.png">
        </div>
    </div>

</body>

</html>