<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='competitivo.component.css'>
</head>
<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img class="checkbtn" src="../../assets/img/pixel-list.png">
        </label>
        <img class="logo-01" src="../../assets/img/csbrasil-branco-header-2.png">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/competitivo">Competitivo</a></li>
            <li><a href="/estatisticas">Estatísticas</a></li>
            <li><a href="#">Comunidade</a></li>
        </ul>
    </nav>
</header>
<body>
    <!-- LISTA DE 30 MELHORES JOGADORES -->
    <div style="color: white; padding-bottom: 50px;" *ngFor="let player of listaJogadores | slice:0:30; let i=index">
        <h2>ID: {{ player.id }}</h2>
        <p>Team: {{ player.team }}</p>
        <p>Nickname: {{ player.nickname }}</p>
        <p>Mapas jogados: {{ player.mapsPlayed }}</p>
        <p>KD: {{ player.kd }}</p>
        <p>Rating: {{ player.rating }}</p>
    </div>

    <!-- LISTA DE 30 MELHORES TIMES -->
    <div style="color: white; padding-bottom: 30px;" *ngFor="let team of listaTimes">
        <h2>ID: {{ team.name }}</h2>
    </div>

    <!-- OBJETO COM JOGADOR PELO ID -->
    <div style="color: white;">
        <label for="idplayer" style="color: white">ID do usuário:</label>
        <input id="idplayer" name="idplayer" type="number" #idplayer>
    </div>
    <input type="button" value="Procurar" (click)="exibirDadosJogadorID(idplayer)">

    <div style="color: white;"  >
        <h2>ID: {{JogadorID.id}}</h2>
        <p>Kills: {{JogadorID.nickname }} </p>
        <p>Kills: {{JogadorID.kd }} </p>
    </div>

    <!-- OBJETO COM TIME PELO ID -->
    <div style="color: white; padding-bottom: 200px;">
        <label for="idteam" style="color: white">ID do usuário:</label>
        <input id="idteam" name="idteam" type="number" #idteam>
    </div>
    <input type="button" value="Procurar" (click)="exibirDadosTimeID(idteam)">

    <div style="color: white; padding-bottom: 200px;">
        <h2>ID: {{ TimeID.name }}</h2>
    </div>

    
</body>

</html>