<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='competitivo.component.css'>
</head>

<body>
    <h3>TIMES BRASILEIROS</h3>
    <div id="time-nation">
        <img class="brazilteams" src="../../assets/img/times-brasileiros/imagem-nation-branca.png">
        <p id="legenda-times-brasil">00NATION</p>
    </div>
    <div id="time-imperial">
        <img class="brazilteams" src="../../assets/img/times-brasileiros/imagem-imperial.webp">
        <p id="legenda-times-brasil">IMPERIAL</p>
    </div>
    <div id="time-furia">
        <img class="brazilteams" src="../../assets/img/times-brasileiros/imagem-furia.png">
        <p id="legenda-times-brasil">FURIA</p>
    </div>
    <div id="time-pain">
        <img class="brazilteams" src="../../assets/img/times-brasileiros/imagem-pain.png">
        <p id="legenda-times-brasil">PAIN</p>
    </div>
    <div id="time-fluxo">
        <img class="brazilteams" src="../../assets/img/times-brasileiros/imagem-fluxo.png">
        <p id="legenda-times-brasil">FLUXO</p>
    </div>
    <div></div>
    <div id="jogador-01">
        <div id="teste"></div>
    </div>
    <div id="jogador-02"></div>
    <div id="jogador-03"></div>
    <div id="jogador-04"></div>
    <div id="jogador-05"></div>


    <!-- LISTA DE 30 MELHORES JOGADORES 
    <div style="color: white; padding-bottom: 50px;" *ngFor="let player of listaJogadores | slice:0:30; let i=index">
        <h2>ID: {{ player.id }}</h2>
        <p>Team: {{ player.team }}</p>
        <p>Nickname: {{ player.nickname }}</p>
        <p>Mapas jogados: {{ player.mapsPlayed }}</p>
        <p>KD: {{ player.kd }}</p>
        <p>Rating: {{ player.rating }}</p>
    </div>

    LISTA DE 30 MELHORES TIMES 
    <div style="color: white; padding-bottom: 30px;" *ngFor="let team of listaTimes">
        <h2>ID: {{ team.name }}</h2>
    </div>
-->

    <!-- OBJETO COM JOGADOR PELO ID -->
    <h3>PROCURAR JOGADOR</h3>
    <div class="quadrante-com-01">
        <p>Utilize a ferramenta para exibir as estatísticas do jogador selecionado. Para isso, insira o <b>nickname</b>
            do jogador
            em questão. Por favor, insira o nickname, <b>apenas</b>, em letras minúsculas.
        </p>
        <p style="font-style:italic">Exemplo: "kscerato"</p>
        <div style="color: white;">
            <label for="nomeplayer" style="color: white">ID do usuário:</label>
            <input id="nomeplayer" name="nomeplayer" type="string" #nomeplayer>
        </div>
        <input type="button" value="Procurar" (click)="exibirDadosJogadorID(nomeplayer)">
    </div>

    <div></div>
    <div id="info-jogador">
        <div id="info-jogador-header">
            <h2>{{ JogadorID.nickname }}({{ JogadorID.id }})</h2>
        </div>
        <div id="info-jogador-body">
            <h2>Idade: {{ JogadorID.age }} </h2>
            <h2>Time: {{ JogadorID.team.name }} ({{ JogadorID.team.id }})</h2>
            <h2>Rating: {{ JogadorID.rating }} </h2>
            <h2>Mapas Jogados: {{ JogadorID.mapsPlayed }} </h2>
        </div>
    </div>
    <div id="img-jogador">
        <img [src]="JogadorID.image">
    </div>


    <h3>PROCURAR TIME</h3>
    <!-- OBJETO COM TIME PELO ID -->
    <div style="color: white; padding-bottom: 200px;">
        <label for="idteam" style="color: white">ID do usuário:</label>
        <input id="idteam" name="idteam" type="number" #idteam>
    </div>
    <input type="button" value="Procurar" (click)="exibirDadosTimeID(idteam)">

    <div style="color: white; padding-bottom: 200px;">
        <h2>ID: {{ TimeID.name }}</h2>
    </div>

    <h3>NOTÍCIAS ({{ data.getDate() }}/{{ data.getMonth() + 1 }}/{{ data.getFullYear() }})</h3>
    <div id="div-noticias" *ngFor="let noticia of noticias">
        <a href="{{ noticia.link }}">{{ noticia.title }}. {{ noticia.description }}</a>
    </div>
    <br>
</body>

</html>