body {
    color: white;
}

body h3 {
    font-family: CSFont;
    font-size: 50px;
    color: white;
    margin: auto;
    text-align: center;
    padding: 40px;
}

body h2 {
    font-size: 30px;
    line-height: 35px;
}

body p {
    color: white;
    font-family: Roboto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

body h4 {
    font-style: italic;
    font-size: 25px;
    padding-top: 15px;
}

a {
    color: white;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

#time-nation {
    width: 14%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-left: 15%;
}

#time-imperial {
    width: 14%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#time-furia {
    width: 14%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#time-pain {
    width: 14%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#time-fluxo {
    width: 14%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#time-nation:hover .brazilteams,
#time-imperial:hover .brazilteams,
#time-furia:hover .brazilteams,
#time-pain:hover .brazilteams,
#time-fluxo:hover .brazilteams {
    width: 185px;
    height: 185px;
    transition: all 0.3s;
    margin: -8px;
}

.brazilteams {
    width: 150px;
    height: 150px;
    padding: 5px;
    transition: all 0.3s;
}

#jogador-01,
#jogador-02,
#jogador-03,
#jogador-04,
#jogador-05 {
    height: 500px;
    width: 20%;
    display: inline-block;
    background-repeat: no-repeat;
}

#legenda-times-brasil {
    font-family: Agency FB;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding: 20px;
}

#div-noticias {
    width: 290px;
    height: 200px;
    background-color: rgb(85, 85, 85);
    display: inline-flex;
    text-align: center;
    padding: 10px;
    margin-left: 75px;
    padding-top: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.quadrante-com-01,
.quadrante-com-02 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    float: left;
    text-align: center;
    width: 40%;
    height: 600px;
    border: 3px solid rgb(158, 158, 158);
}

.quadrante-com-01 {
    background-color: rgb(80, 80, 80);
}

.quadrante-com-02 {
    background-color: rgb(41, 41, 41);
}

#primeira-margem {
    margin-left: 150px;
    margin-right: 150px;
}

#info-jogador,
#info-time {
    float: left;
    color: white;
    height: 600px;
    width: 30%;
    border-top: 3px solid rgb(158, 158, 158);
    border-bottom: 3px solid rgb(158, 158, 158);
}

#info-jogador {
    background-color: rgb(41, 41, 41);
}

#info-time {
    background-color: rgb(80, 80, 80);
}

#info-jogador-header {
    padding-top: 50px;
    text-align: center;
}

#info-jogador-body {
    padding-top: 80px;
    padding-left: 110px;
}

#img-jogador,
#img-time {
    padding-top: 100px;
    float: right;
    color: white;
    height: 600px;
    width: 30%;

    border-top: 3px solid rgb(158, 158, 158);
    border-bottom: 3px solid rgb(158, 158, 158);
    border-right: 3px solid rgb(158, 158, 158);
}

#img-jogador {
    background-color: rgb(41, 41, 41);
}

#img-time {
    background-color: rgb(80, 80, 80);
}

#div-jogadores {
    width: 500px;
}

#h2-players {
    display: inline-flex;
}

#padding-h3 {
    margin-top: 700px;
}

#logo-team {
    width: 90%;
    height: 90%;
}

@media (max-width: 1560px) {
    .brazilteams {
        width: 100px;
        height: 100px;
        padding: 5px;
        transition: all 0.3s;
    }

    #time-nation:hover .brazilteams,
    #time-imperial:hover .brazilteams,
    #time-furia:hover .brazilteams,
    #time-pain:hover .brazilteams,
    #time-fluxo:hover .brazilteams {
        width: 135px;
        height: 135px;
        transition: all 0.3s;
        margin: -8px;
    }
}

@media (max-width: 1050px) {

    #time-nation,
    #time-imperial,
    #time-furia,
    #time-pain,
    #time-fluxo {
        width: 18%;
    }

    #time-nation {
        margin-left: 5%;
    }

    #legenda-times-brasil {
        font-size: large;
        padding: 20px;
    }
}

@media (max-width: 600px) {

    #time-nation,
    #time-imperial,
    #time-furia,
    #time-pain,
    #time-fluxo {
        display: block;
        margin: auto;
        padding-right: 28%;
    }

    #time-nation {
        margin: auto;
    }

    #jogador-01,
    #jogador-02,
    #jogador-03,
    #jogador-04,
    #jogador-05 {
        display: none;
    }

    .brazilteams {
        width: 150px;
        height: 150px;
        padding: 5px;
        transition: all 0.3s;
    }

    #time-nation:hover .brazilteams,
    #time-imperial:hover .brazilteams,
    #time-furia:hover .brazilteams,
    #time-pain:hover .brazilteams,
    #time-fluxo:hover .brazilteams {
        width: 185px;
        height: 185px;
        transition: all 0.3s;
        margin: -8px;
    }
}