body {
    color: white;
}

body h3 {
    font-family: CSFont;
    font-size: 50px;
    color: white;
    margin: auto;
    text-align: center;
    padding: 40px;
}

body h2 {
    font-size: 30px;
    line-height: 35px;
}

body p {
    color: white;
    font-family: Roboto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

body h4 {
    font-style: italic;
    font-size: 25px;
    padding-top: 15px;
}

a {
    color: white;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

#time-nation:hover .brazilteams,
#time-imperial:hover .brazilteams,
#time-furia:hover .brazilteams,
#time-pain:hover .brazilteams,
#time-fluxo:hover .brazilteams {
    width: 185px;
    height: 185px;
    transition: all 0.3s;
    margin: -8px;
}

#jogador-01,
#jogador-02,
#jogador-03,
#jogador-04,
#jogador-05 {
    height: 420px;
    width: 20%;
    display: inline-block;
    background-repeat: no-repeat;
}

@media (max-width: 1560px) {
    .brazilteams {
        width: 100px;
        height: 100px;
        padding: 5px;
        transition: all 0.3s;
    }

    #time-nation:hover .brazilteams,
    #time-imperial:hover .brazilteams,
    #time-furia:hover .brazilteams,
    #time-pain:hover .brazilteams,
    #time-fluxo:hover .brazilteams {
        width: 135px;
        height: 135px;
        transition: all 0.3s;
        margin: -8px;
    }

    #jogador-01,
    #jogador-02,
    #jogador-03,
    #jogador-04,
    #jogador-05 {
        height: 250px;
    }

    .quadrante-com-01,
    .quadrante-com-02 {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70px;
        height: 500px;
    }

    #info-jogador,
    #info-time {
        height: 500px;
    }

    #info-jogador-header {
        padding-top: 20px;
    }

    #info-jogador-body {
        padding-top: 20px;
        padding-left: 30px;
    }

    #img-jogador,
    #img-time {
        padding-top: 100px;
        height: 500px;
        width: 30%;
    }

    .img-player {
        width: 250px;
        height: 270px;
    }

    body h2 {
        font-size: 22px;
    }

    body h4 {
        font-size: 18px;
    }

    #padding-h3 {
        margin-top: 550px;
    }
}

@media (max-width: 1250px) {
    #primeira-margem {
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media (max-width: 1050px) {

    #time-nation,
    #time-imperial,
    #time-furia,
    #time-pain,
    #time-fluxo {
        width: 18%;
    }

    #primeira-margem {
        margin-left: 0px;
        margin-right: 0px;
    }

    #time-nation {
        margin-left: 5%;
    }

    #legenda-times-brasil {
        font-size: large;
        padding: 20px;
    }

    #jogador-01,
    #jogador-02,
    #jogador-03,
    #jogador-04,
    #jogador-05 {
        height: 150px;
    }

    #info-jogador-header {
        padding-top: 10px;
    }

    #info-jogador-body {
        padding-top: 10px;
        padding-left: 15px;
    }

    #img-jogador,
    #img-time {
        padding-top: 100px;
        height: 500px;
        width: 30%;
    }

    .img-player {
        width: 220px;
        height: 240px;
    }

    #padding-h3 {
        margin-top: 500px;
    }
}

@media (max-width: 768px) {

    #time-nation,
    #time-imperial,
    #time-furia,
    #time-pain,
    #time-fluxo {
        display: block;
        margin: auto;
        padding-right: 28%;
    }

    #time-nation {
        margin: auto;
    }

    #jogador-01,
    #jogador-02,
    #jogador-03,
    #jogador-04,
    #jogador-05 {
        display: none;
    }

    .brazilteams {
        width: 130px;
        height: 130px;
        padding: 5px;
        transition: all 0.3s;
    }

    #time-nation:hover .brazilteams,
    #time-imperial:hover .brazilteams,
    #time-furia:hover .brazilteams,
    #time-pain:hover .brazilteams,
    #time-fluxo:hover .brazilteams {
        width: 165px;
        height: 165px;
        transition: all 0.3s;
        margin: -8px;
    }

    .quadrante-com-01,
    .quadrante-com-02 {
        display: block;
        margin: auto;
        width: 100%;
        height: 400px;
    }

    #info-jogador,
    #info-time {
        display: inline-block;
        margin: auto;
        width: 100%;
        height: 450px;
        border-bottom: none;
        border-left: 3px solid rgb(158, 158, 158);
        border-right: 3px solid rgb(158, 158, 158);
    }

    #img-jogador,
    #img-time {
        display: inline-block;
        float: none;
        margin: auto;
        width: 100%;
        border-left: 3px solid rgb(158, 158, 158);
        border-top: none;
        height: 330px;
        text-align: center;
        padding-top: 0px;
    }

    #padding-h3 {
        margin-top: 100px;
    }
}