/* CONFIGURAÇÕES INICIAIS */

@font-face {
    font-family: Agency FB;
    src: url('fonts/agency-fb-2.ttf')
}

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins/Poppins-Regular.ttf')
}

@font-face {
    font-family: CSFont;
    src: url('fonts/cs_regular.ttf')
}

html {
    background-color: #212126;
    font-family: Agency FB;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* ELEMENTOS HEADER - VERIFICAR RESPONSIVIDADE DE TELA DO HEADER */

.logo-01 {
    margin-top: 5px;
    padding: 0 100px;
}

header {
    font-style: montserrat;
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(45, 48, 51);
    /* 45, 48, 51 */
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 25px;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 20px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    padding: 5px 12px;
    border-radius: 4px;
}

a:hover {
    transition: .5;
    background-color: rgb(65, 68, 71);
}

#imagem-csbrasil-paginas {
    height: 8%;
    width: 7.5%;
}

#div-times-brasil {
    display: flex;
}

#imagem-times-brasil {
    margin: auto;
}

.brazilteams {
    width: 150px;
    height: 150px;
    padding: 5px;
    transition: all 0.3s;
}

.brazilteams:hover {
    width: 185px;
    height: 185px;
    transition: all 0.3s;
    margin: -8px;
}

#legenda-times-brasil {
    font-family: Agency FB;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    margin-right: 30px;
    padding: 20px;
}

@font-face {
    font-family: Agency FB;
    src: url('fonts/agency-fb-2.ttf')
}