/* CONFIGURAÇÕES INICIAIS */

@font-face {
    font-family: Agency FB;
    src: url('assets/fonts/agency-fb-2.ttf')
}

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/Poppins-Regular.ttf')
}

@font-face {
    font-family: CSFont;
    src: url('assets/fonts/cs_regular.ttf')
}

@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: RobotoMono;
    src: url('assets/fonts/RobotoMono-VariableFont_wght.ttf')
}

html {
    background-color: #212126;
    font-family: Agency FB;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home-text-01 {
    font-family: CSFont;
    font-size: 50px;
}

#home-text-indis, #home-text-01 {
    color: white;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    line-height: 60px;
}

/* ELEMENTOS HEADER - VERIFICAR RESPONSIVIDADE DE TELA DO HEADER */

.logo-01 {
    margin-top: 5px;
    padding: 0 80px;
}

header {
    font-style: montserrat;
    font-size: 30px;
}

nav {
    background-color: rgb(45, 48, 51);
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 25px;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 87px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: bolder;
}

nav a:hover {
    transition: .5;
    background-color: rgb(65, 68, 71);
}

.checkbtn {
    float: right;
    padding-right: 12px;
    padding-top: 16px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* FOOTER */

footer {
    background-color: rgb(38, 45, 51);
    padding: 35px 0;
    font-family: Poppins;
}

.footer-div {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 5px;
}

.footer-col ul a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-col ul a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: rgb(155, 153, 153);
}

/* MEDIA HEDAER (POR ENQUANTO) */

@media (max-width: 1140px) {
    nav ul li a {
        font-size: 25px;
    }

    #home-text-01 {
        padding: 200px 10px 200px 10px;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .logo-01 {
        margin-top: 5px;
        padding: 0 20px;
    }
}

@media (max-width: 1070px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #384653;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav a:hover {
        background: none;
        color: #0082e6;
    }

    #home-text-01 {
        padding: 150px 10px 150px 10px;
    }

    #check:checked~ul {
        left: 0;
    }
}