/* CONFIGURAÇÕES INICIAIS */

@font-face {
    font-family: Agency FB;
    src: url('assets/fonts/agency-fb-2.ttf')
}

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/Poppins-Regular.ttf')
}

@font-face {
    font-family: CSFont;
    src: url('assets/fonts/cs_regular.ttf')
}

html {
    background-color: #212126;
    font-family: Agency FB;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* ELEMENTOS HEADER - VERIFICAR RESPONSIVIDADE DE TELA DO HEADER */

.logo-01 {
    margin-top: 5px;
    padding: 0 80px;
}

header {
    font-style: montserrat;
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(45, 48, 51);
    /* 45, 48, 51 */
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 25px;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 20px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: bolder;
}

a:hover {
    transition: .5;
    background-color: rgb(65, 68, 71);
}

.checkbtn {
    float: right;
    padding-right: 12px;
    padding-top: 18px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* MEDIA HEDAER (POR ENQUANTO) */

@media (max-width: 1140px) {
    nav ul li a {
        font-size: 25px;
    }
}

@media (max-width: 1070px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #384653;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}