body h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: CSFont;
    font-size: 50px;
    color: white;
}

body p {
    color: white;
    font-family: Roboto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

body td {
    border: solid black 3px;
    background-color: rgb(173, 173, 173);
    padding: 10px;
    text-align: center;
    font-family: RobotoMono;
    font-size: 32px;
}

ul {
    padding: 15px;
    color: rgb(226, 226, 226);
    font-size: 18px;
    font-style: italic;
}

.nickname {
    padding-top: 40px;
    font-family: RobotoMono;
    font-style: italic;
}

.nickname-both {
    margin-top: 5%;
    margin-bottom: -5%;
    font-family: RobotoMono;
    font-style: italic;
    width: auto;
    height: 20px;
}

.img-both {
    display: inline-block;
    padding: 5px;
}

.mensagem-alerta {
    background-color: rgb(228, 228, 135);
    padding: 15px;
    text-align: center;
}

.tabela-stats {
    font-size: 40px;
    margin: auto;
    border-collapse: collapse;
}

.divisao-primeira {
    height: 800px;
    padding: 0px;
    background-color: rgb(48, 48, 53);
}

.divisao-segunda {
    height: 800px;
    padding: 0px;
    background-color: rgb(69, 77, 69);
}

.quadrante01 {
    padding-left: 250px;
    padding-top: 120px;
    float: left;
    text-align: center;
    width: 52%;
    height: 675px;
}

.quadrante02 {
    padding-top: 150px;
    padding-right: 170px;
    float: right;
    width: 48%;
    height: auto;
}

.quadrante03 {
    padding-right: 250px;
    padding-top: 100px;
    float: right;
    text-align: center;
    width: 52%;
    height: 675px;
}

.quadrante04 {
    padding-top: 120px;
    padding-left: 170px;
    float: left;
    width: 48%;
    height: auto;
}

.td-gray {
    background-color: gray;
}

.th-perfil {
    width: 181px;
    height: 181px;
}

.img-perfil {
    margin-bottom: -5%;
    width: 160px;
    height: 160px;
    border: solid white 3px;
    background-color: rgb(173, 173, 173);
}

@media (max-width: 1685px) {
    body td {
        padding: 5px;
        font-size: 30px;
    }

    .quadrante01 {
        padding-left: 100px;
        margin-top: 10px;
    }

    .quadrante02 {
        padding-right: 100px;
        margin-top: 70px;
    }

    .quadrante03 {
        padding-right: 100px;
        margin-top: 20px;
    }

    .quadrante04 {
        padding-left: 100px;
        margin-top: 50px;
    }
}

@media (max-width: 1402px) {
    body td {
        padding: 5px;
        font-size: 25px;
    }

    .quadrante01 {
        padding-left: 100px;
        margin-top: 10px;
    }

    .quadrante02 {
        padding-right: 100px;
        margin-top: 100px;
    }

    .quadrante03 {
        padding-right: 100px;
        margin-top: 20px;
    }

    .quadrante04 {
        padding-left: 100px;
        margin-top: 80px;
    }
}

@media (max-width: 1242px) {

    .divisao-primeira {
        height: 700px;
    }
    
    .divisao-segunda {
        height: 700px;
    }

    body td {
        padding: 5px;
        font-size: 25px;
    }

    .quadrante01 {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
    }

    .quadrante02 {
        padding-right: 40px;
        margin-top: 50px;
    }

    .quadrante03 {
        padding-right: 40px;
        margin-top: 30px;
        padding-left: 50px;
    }

    .quadrante04 {
        padding-left: 40px;
        margin-top: 50px;
    }

    body h3 {
        font-size: 40px;
    }

    body p {
        font-size: 15px;
    }

    .img-perfil {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 1096px) {
    .divisao-primeira {
        height: 1000px;
    }
    
    .divisao-segunda {
        height: 1100px;
    }

    .quadrante01 {
        height: 50%;
        width: 100%;
        margin: auto;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .quadrante02 {
        padding-top: 20px;
        width: 100%;
        height: 50%;
        margin: auto;
        padding-left: 30px;
    }

    .quadrante03 {
        width: 100%;
        height: 45%;
        padding-top: 30px;
        margin: auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    .quadrante04 {
        width: 100%;
        height: 55%;
        margin: auto;
        padding-top: 40px;
        padding-right: 30px;
    }
}

@media (max-width: 622px) {
    .divisao-primeira {
        height: 900px;
    }
    
    .divisao-segunda {
        height: 1000px;
        border: solid black 1px;
    }

    body td{
        font-size: 16px;
    }

    body h3 {
        font-size: 30px;
    }

    body p {
        font-size: 13px;
    }

    .quadrante01 {
        width: 100%;
        margin: auto;
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .quadrante02 {
        padding-top: 30px;
        padding-left: 55px;
    }

    .quadrante03 {
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .quadrante04 {
        padding-right: 40px;
        padding-top: 70px;
    }

    .img-perfil {
        width: 90px;
        height: 90px;
    }
    ul {
        font-size: 15px;
    }

    .nickname {
        padding-top: 10px;
    }
    .formGroup {
        padding-bottom: 5px;
    }
}