<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='estatisticas.component.css'>
</head>
<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img class="checkbtn" src="../../assets/img/pixel-list.png">
        </label>
        <img class="logo-01" src="../../assets/img/csbrasil-branco-header-2.png">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/competitivo">Competitivo</a></li>
            <li><a href="/estatisticas">Estatísticas</a></li>
            <li><a href="#">Comunidade</a></li>
        </ul>
    </nav>
</header>

<!-- feito de noite -->

<body>
    <div>
        <label for="iduser" style="color: white">ID do usuário:</label>
        <input id="iduser" name="iduser" type="number" #iduser>
    </div>
    <input type="button" value="Procurar" (click)="exibirDadosUser(iduser)">
</body>

<div style="color: white" *ngFor="let play of listaJogador">

    <h2>Kills: {{ play.steamID }}</h2>
    <h2>Deaths: {{ play.game }}</h2>

    <h2>Deaths: {{ play.stats }}</h2>
</div>

</html>

<!-- feito de noite -->


<!-- <div>  EXIBE STATS AMIGOS
    <div>
        <label for="idamigo1" style="color: white">ID do amigo 1:</label>
        <input id="idamigo1" name="idamigo1" type="number" #idamigo1>
    </div>

    <div>
        <label for="idamigo2" style="color: white">ID do amigo 2:</label>
        <input id="idamigo2" name="idamigo2" type="number" #idamigo2>
    </div>

    <input type="button" value="Procurar" (click)="compararDadosAmigos(idamigo1, idamigo2)">

    <div style="color: white">
        <h1>AMIGO 1</h1>
        <h2>Kills: {{ listaAmigo1.stats.total_kills }}</h2>
        <h2>Deaths: {{ listaAmigo1.stats.total_kills }}</h2>
        <h2>Time: {{ listaAmigo1.stats.total_time_played }}</h2>
        <h2>Wins: {{ listaAmigo1.stats.total_wins }}</h2>
        <h2>Kills AK: {{ listaAmigo1.stats.total_kills_ak47 }}</h2>
    </div>

    <div style="color: white">
        <h1>AMIGO 2</h1>
        <h2>Kills: {{ listaAmigo2.stats.total_kills }}</h2>
        <h2>Deaths: {{ listaAmigo2.stats.total_kills }}</h2>
        <h2>Time: {{ listaAmigo2.stats.total_time_played }}</h2>
        <h2>Wins: {{ listaAmigo2.stats.total_wins }}</h2>
        <h2>Kills AK: {{ listaAmigo2.stats.total_kills_ak47 }}</h2>
    </div>
</div>
 -->