<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='estatisticas.component.css'>
</head>

<body>
    <div class="mensagem-alerta">
        <h2>Por motivos de problemas na API externa da Steam, a exibição de estatísticas pode aparecer
            incompleta ou desatualizada. Caso isto ocorra, por favor, pressione novamente o botão da consulta. Obrigado!
        </h2>
    </div>
    <div class="divisao-primeira">
        <div class="quadrante01">
            <h3>EXIBIR STATS</h3>
            <p>Utilize a ferramenta para exibir as estatísticas do jogador selecionado. Para isso, utilize o ID do
                jogador, localizado na URL do perfil em questão, como mostra os exemplos abaixo:</p>
            <ul>
                <li>https://steamcommunity.com/profiles/(ID da Steam)</li>
                <li>https://steamcommunity.com/id/(Nome customizado)</li>
            </ul>
            <object>
                <img class="img-perfil" [src]="sumarioUsuario.avatar['large']">
            </object>
            <p class="nickname">{{ sumarioUsuario.nickname }}</p>
            <form class="formGroup" [formGroup]="iduserForm">
                <input class="the-entry" id="iduser" name="iduser" formControlName="iduser" placeholder="ID DO USUÁRIO"
                    type="string" #iduser>
            </form>
            <input class="the-button" type="button" value="Mostrar Estatísticas" [disabled]="!iduserForm.valid"
                (click)="exibirDadosUser(iduser)">
        </div>

        <div class="quadrante02">
            <table class="tabela-stats">
                <tr>
                    <td>Partidas jogadas</td>
                    <td>{{ dados.total_matches_played }}</td>
                </tr>
                <tr>
                    <td>Win Rate</td>
                    <td>{{ dados.win_rate }}</td>
                </tr>
                <tr>
                    <td>Kill/Death Ratio</td>
                    <td>{{ dados.kd }}</td>
                </tr>
                <tr>
                    <td>Kills</td>
                    <td>{{ dados.total_kills }}</td>
                </tr>
                <tr>
                    <td>Mortes</td>
                    <td>{{ dados.total_deaths }}</td>
                </tr>
                <tr>
                    <td>Kills de AWP</td>
                    <td>{{ dados.total_kills_awp }}</td>
                </tr>
                <tr>
                    <td>Kills de AK</td>
                    <td>{{ dados.total_kills_ak47 }}</td>
                </tr>
                <tr>
                    <td>Kills de M4</td>
                    <td>{{ dados.total_kills_m4a1 }}</td>
                </tr>
                <tr>
                    <td>Mapa mais jogado</td>
                    <td>{{ dados.mapa_preferido }}</td>
                </tr>
            </table>
        </div>
        
    </div>

    <div class="divisao-segunda">
        <div class="quadrante03">
            <h3>COMPARAR STATS</h3>
            <p>Utilize a ferramenta para comparar as estatísticas dos jogadores selecionados. Para isso, utilize o ID dos
                jogadores, localizado na URL do perfil em questão, como mostra os exemplos abaixo:</p>
            <ul>
                <li>https://steamcommunity.com/profiles/(ID da Steam)</li>
                <li>https://steamcommunity.com/id/(nome customizado)</li>
            </ul>
            <div class="img-both">
                <img class="img-perfil" [src]="sumarioAmigoUm.avatar['large']">
                <p class="nickname-both">{{ sumarioAmigoUm.nickname }}</p>
            </div>
            <div class="img-both">
                <p>X</p>
            </div>
            <div class="img-both">
                <img class="img-perfil" [src]="sumarioAmigoDois.avatar['large']">
                <p class="nickname-both">{{ sumarioAmigoDois.nickname }}</p>
            </div>

            <form class="formGroup" [formGroup]="idamigoForm">

                <div>
                    <input class="the-entry" id="idamigo1" name="idamigo1" formControlName="idamigo1"
                        placeholder="ID DO JOGADOR 1" type="string" #idamigo1>
                </div>

                <div>
                    <input class="the-entry" id="idamigo2" name="idamigo2" formControlName="idamigo2"
                        placeholder="ID DO JOGADOR 2" type="string" #idamigo2>
                </div>
            </form>
            <input class="the-button" type="button" value="Comparar" [disabled]="!idamigoForm.valid"
                (click)="compararDadosAmigos(idamigo1, idamigo2)">
        </div>

        <div class="quadrante04">
            <table class="tabela-stats">
                <tr>
                    <td>{{ sumarioAmigoUm.nickname }}</td>
                    <td>VS</td>
                    <td>{{ sumarioAmigoDois.nickname }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.total_matches_played }}</td>
                    <td>Partidas jogadas</td>
                    <td>{{ dadosAmigoDois.total_matches_played }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.win_rate }}</td>
                    <td>Win Rate</td>
                    <td>{{ dadosAmigoDois.win_rate }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.kd }}</td>
                    <td>Kill/Death Ratio</td>
                    <td>{{ dadosAmigoDois.kd }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.total_kills }}</td>
                    <td>Kills</td>
                    <td>{{ dadosAmigoDois.total_kills }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.total_deaths }}</td>
                    <td>Mortes</td>
                    <td>{{ dadosAmigoDois.total_deaths }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.total_kills_awp }}</td>
                    <td>Kills de AWP</td>
                    <td>{{ dadosAmigoDois.total_kills_awp }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.total_kills_ak47 }}</td>
                    <td>Kills de AK</td>
                    <td>{{ dadosAmigoDois.total_kills_ak47 }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.total_kills_m4a1 }}</td>
                    <td>Kills de M4</td>
                    <td>{{ dadosAmigoDois.total_kills_m4a1 }}</td>
                </tr>
                <tr>
                    <td>{{ dadosAmigoUm.mapa_preferido }}</td>
                    <td>Mapa mais jogado</td>
                    <td>{{ dadosAmigoDois.mapa_preferido }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>