<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSBRASIL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='estatisticas.component.css'>
</head>

<body>
    <div class="msg">
        <h2 class="msg-h2">Por motivos de problemas na API externa da Steam, a exibição de estatísticas pode aparecer
            incompleta ou desatualizada. Caso isto ocorra, por favor, pressione novamente o botão da consulta. Obrigado!
        </h2>
    </div>
    <div id="div-01">

        <h2>MOSTRA STATS</h2>
        <form [formGroup]="iduserForm">
            <label for="iduser" style="color: white">ID do usuário:</label>
            <input id="iduser" name="iduser" formControlName="iduser" type="string" #iduser>
        </form>

        <table id="table-01">
            <tr>
                <th> <input type="button" value="Mostrar Estatísticas" [disabled]="!iduserForm.valid"
                        (click)="exibirDadosUser(iduser)"></th>
                <th class="th-perfil"><img class="img-perfil" [src]="sumarioUsuario.avatar['large']"></th>
            </tr>
            <tr>
                <td>Nick:</td>
                <td>{{ sumarioUsuario.nickname }}</td>
            </tr>
            <tr>
                <td>Partidas jogadas:</td>
                <td>{{ dados.total_matches_played }}</td>
            </tr>
            <tr>
                <td>Win Rate:</td>
                <td>{{ dados.win_rate }}</td>
            </tr>
            <tr>
                <td>Kill/Death Ratio:</td>
                <td>{{ dados.kd }}</td>
            </tr>
            <tr>
                <td>Kills:</td>
                <td>{{ dados.total_kills }}</td>
            </tr>
            <tr>
                <td>Mortes:</td>
                <td>{{ dados.total_deaths }}</td>
            </tr>
            <tr>
                <td>Kills de AWP:</td>
                <td>{{ dados.total_kills_awp }}</td>
            </tr>
            <tr>
                <td>Kills de AK:</td>
                <td>{{ dados.total_kills_ak47 }}</td>
            </tr>
            <tr>
                <td>Kills de M4:</td>
                <td>{{ dados.total_kills_m4a1 }}</td>
            </tr>
            <tr>
                <td>Mapa mais jogado:</td>
                <td>{{ dados.mapa_preferido }}</td>
            </tr>
        </table>
    </div>

    <h1 style="color: white">COMPARA PLAYERS</h1>

    <form [formGroup]="idamigoForm">
        <div>
            <label for="idamigo1" style="color: white">ID do amigo 1:</label>
            <input id="idamigo1" name="idamigo1" formControlName="idamigo1" type="string" #idamigo1>
        </div>

        <div>
            <label for="idamigo2" style="color: white">ID do amigo 2:</label>
            <input id="idamigo2" name="idamigo2" formControlName="idamigo2" type="string" #idamigo2>
        </div>
    </form>

    <input type="button" value="Comparar" [disabled]="!idamigoForm.valid"
        (click)="compararDadosAmigos(idamigo1, idamigo2)">


    <table id="table-01">
        <tr>
            <th>X</th>
            <th class="th-perfil"><img class="img-perfil" [src]="sumarioAmigoUm.avatar['large']"></th>
            <th class="th-perfil"><img class="img-perfil" [src]="sumarioAmigoDois.avatar['large']"></th>
        </tr>
        <tr>
            <td>Nick:</td>
            <td>{{ sumarioAmigoUm.nickname }}</td>
            <td>{{ sumarioAmigoDois.nickname }}</td>
        </tr>
        <tr>
            <td>Partidas jogadas:</td>
            <td>{{ dadosAmigoUm.total_matches_played }}</td>
            <td>{{ dadosAmigoDois.total_matches_played }}</td>
        </tr>
        <tr>
            <td>Win Rate:</td>
            <td>{{ dadosAmigoUm.win_rate }}</td>
            <td>{{ dadosAmigoDois.win_rate }}</td>
        </tr>
        <tr>
            <td>Kill/Death Ratio:</td>
            <td>{{ dadosAmigoUm.kd }}</td>
            <td>{{ dadosAmigoDois.kd }}</td>
        </tr>
        <tr>
            <td>Kills:</td>
            <td>{{ dadosAmigoUm.total_kills }}</td>
            <td>{{ dadosAmigoDois.total_kills }}</td>
        </tr>
        <tr>
            <td>Mortes:</td>
            <td>{{ dadosAmigoUm.total_deaths }}</td>
            <td>{{ dadosAmigoDois.total_deaths }}</td>
        </tr>
        <tr>
            <td>Kills de AWP:</td>
            <td>{{ dadosAmigoUm.total_kills_awp }}</td>
            <td>{{ dadosAmigoDois.total_kills_awp }}</td>
        </tr>
        <tr>
            <td>Kills de AK:</td>
            <td>{{ dadosAmigoUm.total_kills_ak47 }}</td>
            <td>{{ dadosAmigoDois.total_kills_ak47 }}</td>
        </tr>
        <tr>
            <td>Kills de M4:</td>
            <td>{{ dadosAmigoUm.total_kills_m4a1 }}</td>
            <td>{{ dadosAmigoDois.total_kills_m4a1 }}</td>
        </tr>
        <tr>
            <td>Mapa mais jogado:</td>
            <td>{{ dadosAmigoUm.mapa_preferido }}</td>
            <td>{{ dadosAmigoDois.mapa_preferido }}</td>
        </tr>
    </table>

</body>

</html>