.all-boxes {
    background-color: rgb(59, 59, 59);
}

.a-red {
    color: rgb(255, 64, 64);
    font-size: 60px;
}

.a-green {
    color: rgb(182, 255, 72);
    font-size: 60px;
}

.a-blue {
    color: rgb(78, 78, 255);
    font-size: 60px;
}

#div-esquerda, #div-direita {
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    transition: all 0.3s;
}

#div-esquerda {
    background-color: rgb(65, 68, 71);
}

#div-esquerda:hover {
    padding: 65px;
    transition: all 0.3s;
    background-color: rgb(73, 76, 80);
}

#div-direita {
    background-color: rgb(50, 54, 56);
    text-align: right;
}

#div-direita:hover {
    padding: 65px;
    transition: all 0.3s;
    background-color: rgb(60, 63, 66);
}

#p-esquerda, #p-direita {
    color: white;
    word-break: normal;
    font-size: x-large;
    text-align: justify;
}

#p-esquerda {
    margin-right: 300px;
}

#p-direita {
    margin-left: 300px;
}

.container-box-right {
    width: 200px;
    float: right;
    padding-right: 3%;
    margin-top: -2.5%;
}

    .container-box-right-2 {
        width: 200px;
        float: right;
        padding-right: 3%;
        margin-top: 0%;
    }

.container-box-left {
    width: 200px;
    float: left;
    padding-left: 1%;
    margin-top: -1.5%
}

@media (max-width: 1869px) {
    .container-box-right {
        padding-top: 1%;
    }
}

@media (max-width: 1615px) {
    .container-box-left {
        padding-top: 2%;
    }
    .container-box-right-2 {
        padding-top: 3%;
    }
}

@media (max-width: 1424px) {
    .container-box-right-2 {
        padding-top: 7%;
    }
}

@media (max-width: 1258px) {
    .container-box-right {
        padding-top: 6%;
    }

    .container-box-left {
        padding-top: 8%;
    }
}

@media (max-width: 1178px) {
    .container-box-right {
        padding-top: 9%;
    }

    .container-box-left {
        padding-top: 11%;
    }
    .container-box-right-2 {
        padding-top: 15%;
    }
}

@media (max-width: 1090px) {
    #div-esquerda,
    #div-direita {
        display: flex;
        flex-direction: column;
        width: 700px;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    .container-box-right,
    .container-box-left, 
    .container-box-right-2 {
        margin: auto;
        padding-top: 0;
        float: none;
    }

    #p-esquerda,
    #p-direita {
        margin-right: 20px;
        margin-left: 20px;
        float: none;
        text-align: center;
    }

    .logo-01 {
        padding: 0 20px;
    }
}

@media (max-width: 820px) {
    #div-esquerda,
    #div-direita {
        width: 500px;
        padding: 40px;
    }

    #div-esquerda:hover, #div-direita:hover {
        padding: 45px;
        transition: all 0.3s;
    }
}

@media (max-width: 658px) {
    #div-esquerda,
    #div-direita {
        width: 350px;
    }
}

@media (max-width: 550px) {
    #div-esquerda,
    #div-direita {
        width: 300px;
        padding: 20px;
    }

    .a-red,
    .a-green,
    .a-blue {
        font-size: 50px;
    }

    #p-esquerda,
    #p-direita {
        float: none;
        text-align: center;
    }

    #div-esquerda:hover, #div-direita:hover {
        padding: 20px;
        transition: all 0.3s;
    }
}