.all-boxes {
    background-color: rgb(61, 61, 61);
}

#div-esquerda {
    background-color: rgb(65, 68, 71);
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    transition: all 0.3s;
}

#div-esquerda:hover {
    padding: 65px;
    transition: all 0.3s;
    background-color: rgb(73, 76, 80);
}

#div-direita {
    background-color: rgb(50, 54, 56);
    text-align: right;
    padding: 60px;
    margin-left: 200px;
    margin-right: 200px;
    transition: all 0.3s;
}

#div-direita:hover {
    padding: 65px;
    transition: all 0.3s;
    background-color: rgb(53, 58, 59);
}

#p-esquerda {
    color: white;
    word-break: normal;
    font-size: x-large;
    text-align: justify;
    margin-right: 300px;
}

#p-direita {
    color: white;
    word-break: normal;
    font-size: x-large;
    text-align: justify;
    margin-left: 300px;
}

.container-box-right {
    width: 200px;
    float: right;
    padding-right: 3%;
    margin-top: -2.5%;
}

.container-box-left {
    width: 200px;
    float: left;
    padding-left: 1%;
    margin-top: -1.5%
}

.a-red {
    color: rgb(255, 64, 64);
}

.a-green {
    color: rgb(182, 255, 72);
}

.a-blue {
    color: rgb(78, 78, 255);
}

.a-red, .a-green, .a-blue {
    font-size: 60px;
}

@media (max-width: 1869px) {
    .container-box-right {
        padding-top: 1%;
    }
}

@media (max-width: 1615px) {
    .container-box-left {
        padding-top: 2%;
    }
}

@media (max-width: 1258px) {
    .container-box-right {
        padding-top: 6%;
    }

    .container-box-left {
        padding-top: 8%;
    }
}

@media (max-width: 1178px) {
    .container-box-right {
        padding-top: 9%;
    }

    .container-box-left {
        padding-top: 11%;
    }
}

@media (max-width: 1025px) {
    .container-box-right {
        padding-top: 12%;
        background-color: violet;
    }

    .container-box-left {
        padding-top: 14%;
        background-color: violet;
    }
}

@media (max-width: 990px) {
    #all {
        margin-left: 100px;
        margin-right: 100px;
    }

    #div-esquerda,
    #div-direita {
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    .container-box-right,
    .container-box-left {
        margin: auto;
        padding-top: 0;
        float: none;
    }

    #p-esquerda,
    #p-direita {
        margin-right: 20px;
        margin-left: 20px;
        float: none;
        text-align: center;
    }

    .logo-01 {
        padding: 0 20px;
    }
}

@media (max-width: 718px) {
    #all {
        margin-left: 50px;
        margin-right: 50px;
    }

    #div-esquerda,
    #div-direita {
        width: 400px;
    }
}

@media (max-width: 718px) {

    #div-esquerda,
    #div-direita {
        width: 350px;
    }

}